<div class="return-question-details">

	<h2 class="return-question-details-header"></h2>
	<p id="notice"><%= notice %></p>

	<a class="dismiss-question-show">
		+
	</a>

	<div class="answer-container">


	</div>

</div>