<div class ="content-container-offset">

	<div class ="content-container-float">

		<div class="content-left">
			
			<%= render partial: 'pages/topics_dashboard_panel', locals: {title: "Topics", topics: @my_topics} %>

		</div>

		<div class="content-center">

			<%= render 'pages/home_question_form'%>

			<%= render partial: 'pages/questions_dashboard_panel', locals: {title: "Recommended for You", questions: @recommended_questions} %>

		</div>

		<div class="content-right">

			<%= render partial: 'pages/questions_dashboard_panel', locals: {title: "My Questions", questions: @my_questions} %>


		</div>

	</div>

</div>