<div class="home-question-container">

        <input type="textarea" name="fname" class="question-text" id="question-body" placeholder="Type Your Question Here" rows="2" autofocus>

        <a class="question-ask-submit" id="question-ask-submit">Ask</a>

        <%= render 'pages/question_audience_filter' %>

</div>
