<div class ="question-container-fixed">

	<div class ="question-panel">

		<h2>About You</h2>

		<form>

			<div class="question-option-line"><span><a class="question-binary-option active left">Male</a><a class="question-binary-option right">Female</a></span></div>

			<br>

			<h3 class="question-option-line-header">Birth Year</h3>
			<input type="text" name="birth_year" class="question-text-field" autofocus>

			<div class="question-option-line">
				<input type="submit" value="Continue" class="login-submit large">
			</div>


		</form>

	</div>
</div>