
<div class="question-audience-filter">

	<h2>Question Text Here</h2>
	<h3>Select Audience</h3>

	<div class="question-audience-filter-outline">

		<div class="question-option-line"><span><a id="question-binary-option-male" class="question-binary-option active left">Male</a><a id="question-binary-option-female" class="question-binary-option right inactive">Female</a></span></div>

		<div class="question-option-line"><span><a>Between Age</a><input type="text" name="lname"><a>and</a><input type="text" name="lname"></span></div>

		<%# f.submit "Ask", class: "question-ask-submit default-off", id: "question-ask-submit" %>

	</div>

</div>