// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container-float-offset{
	float:left;
	left:-50%;
	width:100%;
	height:100%;

}

.content-container-float{
	width:100%;
	height:100%;
	max-width:900px;
	margin: 0 auto;

}

.content-left{
	float:left;
	width:20%;
	min-height:100%;
	
}

.content-center{
	float:left;
	padding:0px 30px;
	width:53%;
	min-height:100%;
	
}

.content-right{
	float:left;
	width:20%;
	min-height:100%;
	
}

.content-column-header{
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    padding-bottom:10px;
    color: #6128A1;
    text-shadow: 0px 1px #eee;
}

ul.favorite-topics-list{
	padding:0px;
	list-style: none;
	
	li {
		font-size:16px;
		padding-bottom:10px;
	}

	li:hover {
		cursor:pointer;
		background-color: #fefefe;
	}
}

.question-summary-index-container{
	padding:3px 8px;
	width:100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
	p{
		font-size:24px;
		font-weight: 600;
		text-align: justify;
		text-shadow: 0px 1px #ddd;
		color: #333;
		margin:0px;
		padding:20px 0px;
	}

	p:hover{
		cursor:pointer;
	}
}

ul.improve-feed-list{
	padding:0px;
	padding-left:25px;
	list-style: none;
	
	li {
		font-size:16px;
		padding-bottom:10px;
		list-style-type:lower-roman;
	}

	li:hover {
		cursor:pointer;
		background-color: #fefefe;
	}
	
}

.question-container-fixed{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9000;
	background: #ddd;
}

.question-panel{
	margin: 0 auto;
	padding:50px 0px;
	max-width: 900px;
	text-align:center;
	h2{
		color: #fff;
    	text-shadow: 0px 2px 5px #555;
    	font-size: 48px;
	}

}

.question-option-line{
	width:100%;
	margin-top:15px;
	line-height: 3;
}

.question-submit{
	padding:10px 15px;
	background-color: #eee;
	color: red;
	font-size:20px;
}


.question-binary-option{
	font-size:30px;
	color: #444;
	font-weight: 400;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.3);
	
	:hover {
		cursor: pointer;
	}
}

.question-binary-option:hover {

	cursor: pointer;
}

.question-binary-option.active{
	color: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	text-shadow: 0px 1px #ccc;

	background: #505DC7;
	background-image: -moz-linear-gradient(top, #505DC7, #373F87);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#505DC7), to(#373F87));
	background-image: -webkit-linear-gradient(top, #505DC7, #373F87);
	background-image: -o-linear-gradient(top, #505DC7, #373F87);
	background-image: -ms-linear-gradient(top, #505DC7, #373F87);
	background: linear-gradient(top, #505DC7, #373F87);
	border-color: rgba(0,0,0,0.3);
}

.question-binary-option.left{
	border-radius: 5px 0px 0px 5px;
}

.question-binary-option.right{
	border-radius: 0px 5px 5px 0px;
}

.question-text-field{
	border:none;
	padding:5px;
	border-radius:3px;
	width:200px;
	font-size: 30px;
    text-align: center;
    box-shadow: 0px 2px 4px #aaa;
    color:#666;
}

.question-text-field:focus{
	border:none;
	box-shadow:none;
}

.question-option-line-header{
	font-size:30px;
	color: #444;
	text-shadow:0px 1px 0px #bbb;
}