// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container-offset{
	float:right;
	left:-50%;
	width:100%;
	height:100%;

}

.content-container-float{
	width:100%;
	height:100%;
	left:50%;
	margin: 0 auto;
	float:left;

}

.content-left{
	float:left;
	width:20%;
	min-height:100%;
	padding:0px 60px;
	
}

.content-center{
	float:left;
	width:40%;
	min-height:100%;
	
}

.content-right{
	float:left;
	width:20%;
	min-height:100%;
	padding:0px 60px;
	
}

a.question-show-link{
	font-size:20px;
	color:#666;
}

a.question-show-link-date{
	font-size:14px;
	color:#999;
}

.question-show-blank{
	font-size:20px;
	color:#999;
	text-align:center;
	width:100%;
}

.content-column-header{
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    padding-bottom:10px;
    color: rgba(252, 159, 50, 0.9);
    text-shadow: 0px 1px #eee;
    float: left;
    text-align:center;
    width: 100%;
    font-size: 30px;
    margin-top:0px;
    margin-bottom:10px;

}

ul.favorite-topics-list{
	list-style: none;
	float: left;
	margin:0px;
	width: 100%;
	padding: 0px;
	
	li {
		font-size: 20px;
		padding:10px;
		color:#666;
		text-align: justify;
	}

	li:hover {
		cursor:pointer;
		background-color: rgba(252, 159, 50, 0.3);
    	border-radius: 2px;
    	box-shadow: 0 2px 4px #ccc;
	}
}

.question-summary-index-container{
	padding:3px 8px;
	width:100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    float: left;
    width: 100%;
	p{
		font-size:24px;
		font-weight: 600;
		text-align: justify;
		text-shadow: 0px 1px #ddd;
		color: #333;
		margin:0px;
		padding:20px 0px;
		line-height: 30px;
	}

	p:hover{
		cursor:pointer;
	}
}

ul.my-questions-list{
	padding:0px;
	list-style: none;
	float: left;
	width:100%;
	margin:0px;
	
	li {
		font-size: 20px;
		padding:10px;
		list-style-type:none;
		text-align: justify;
	}

	li:hover{
		cursor:pointer;
		background-color: rgba(252, 159, 50, 0.3);
    	border-radius: 2px;
    	box-shadow: 0 2px 4px #ccc;
	}


}

.home-question-show{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:900000;
	background: #ddd;
}

.return-question-details{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:900000;
	background: #4DD990;
	display:none;

	h2{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 48px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
		margin-bottom: 60px;
		margin-top: 100px;
		line-height: 1;
	}

	h3{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 20px;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
		font-style: italic;
	}
}

.question-response-container{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:900000;
	background: #4DD990;
		h2{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 48px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
		margin-bottom: 60px;
		margin-top: 100px;
		line-height: 1;
	}

}


.dismiss-question-show{
    border: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 40px;
    top: -40px;
    font-size:40px;
    font-weight:700;
    color:#666;
    margin-top:30px;
    text-shadow: 0px 2px 1px #ccc;
}

.dismiss-question-show:hover{
    cursor:pointer;
    text-decoration:none;
    color:red;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}


.question-container-fixed{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9000;
	background: #ddd;
}

.question-panel{
	margin: 0 auto;
	padding:50px 0px;
	max-width: 900px;
	text-align:center;
	h2{
		color: #fff;
    	text-shadow: 0px 2px 5px #555;
    	font-size: 48px;
	}

}

.question-option-line{
	width:100%;
	margin-top:15px;
	line-height: 3;
	text-align: center;
}

.question-submit{
	padding:10px 15px;
	background-color: #eee;
	color: red;
	font-size:20px;
}


.question-binary-option{
	font-size:30px;
	font-weight: 400;
    padding: 10px 20px;
	
}

.question-binary-option.inactive{
	color: #888;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.question-binary-option.inactive:hover{
	color: #505DC7;
	border: 1px solid #505DC7;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.question-binary-option:hover {

	cursor: pointer;
}

.question-binary-option.active{
	color: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	text-shadow: 0px 1px #ccc;

	background: #505DC7;
	background-image: -moz-linear-gradient(top, #505DC7, #373F87);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#505DC7), to(#373F87));
	background-image: -webkit-linear-gradient(top, #505DC7, #373F87);
	background-image: -o-linear-gradient(top, #505DC7, #373F87);
	background-image: -ms-linear-gradient(top, #505DC7, #373F87);
	background: linear-gradient(top, #505DC7, #373F87);
	
	border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

.question-binary-option.left{
	border-radius: 5px 0px 0px 5px;
}

.question-binary-option.right{
	border-radius: 0px 5px 5px 0px;
}

.question-text-field{
	border:none;
	padding:5px;
	border-radius:3px;
	width:200px;
	font-size: 30px;
    text-align: center;
    box-shadow: 0px 2px 4px #aaa;
    color:#666;
}


.question-option-line-header{
	font-size:30px;
	color: #444;
	text-shadow:0px 1px 0px #bbb;
}

.hidden-input{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	opacity: 0;
}

.home-question-container{
	padding-bottom:50px;
	float:left;
	width:100%;	
}


.home-question-form{
	float:left;
	width:100%;	
}

input.question-text{
	width: 100%;
	text-indent:5px;
    margin-bottom: 0px;
    height: 75px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0px 1px 1px #666;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    border: 2px solid rgba(77, 217, 144, 1);
    border-radius: 4px;
    box-shadow: 0 3px 6px #ddd;
    background-color: rgba(77,217,144,0.7);
    overflow: hidden;
    float: left;
    resize: none;
    text-align:center;
    color: #fff;

}

.question-ask-submit-container{
	width:100%;
	float:left;
}

a.question-ask-submit{
	padding: 15px 0px;
	line-height:20px;
	text-decoration:none;
	margin-top:15px;
	font-size: 30px;
	font-weight:500;
	border-radius: 5px;
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	width:100%;
	float: left;
	color:#fff;
	text-shadow: 0px 3px 1px #333;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	background-color: #394DE3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00D43C), to(#00C237));
	background-image: -webkit-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -moz-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -ms-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -o-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: linear-gradient(top, #394DE3, #1F2B7D);

	border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

a.question-ask-submit:hover{
	cursor:pointer;
	color: #394DE3;
	border: 2px solid #394DE3;
	text-shadow: 0px 3px 1px #fff;

	webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff, #fff);
	background-image: -moz-linear-gradient(top, #fff, #fff);
	background-image: -ms-linear-gradient(top, #fff, #fff);
	background-image: -o-linear-gradient(top, #fff, #fff);
	background-image: linear-gradient(top, #fff, #fff);
}

input[type="submit"].question-ask-submit{
	padding: 10px 16px;
	line-height:20px;
	text-decoration:none;
	margin-top:15px;
	font-size: 24px;
	font-weight:500;
	color:#666;
	border-radius: 5px;
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	width:100%;
	float: left;
	color:white;
	text-shadow: 0px 1px #666;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	float:right;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;

	background-color: #394DE3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00D43C), to(#00C237));
	background-image: -webkit-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -moz-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -ms-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -o-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: linear-gradient(top, #394DE3, #1F2B7D);

	border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

input[type="submit"].question-ask-submit:hover{
	cursor:pointer;
}

.answer-bar-percentage{
	position: absolute;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;	
    border-radius:5px;
}



a.add_fields, a.edit-forecast{
  margin-top:15px;
  padding: 10px 0px;
  line-height:20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-decoration:none;
  font-size: 24px;
  font-weight:500;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  text-align:center;
  position:relative;
  border-color: #ccc;
  white-space:nowrap;
  background-color:#eee;
  color:#394de3;
  text-shadow: 0px 1px #eee;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  background: #eee;
  background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#dcdcdc));
  background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -ms-linear-gradient(top,#fbfbfb,#dcdcdc);
  background: linear-gradient(top,#fbfbfb,#dcdcdc);
  border-color: #4d90fe;

  width:100%;
  float: left;

}

a.add_fields:hover, a.edit-forecast:hover{
  
  color:#4d90fe;
  cursor: pointer;
  text-shadow: 0px 1px #fff;
  text-decoration: none;
  webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(top, #fff, #fff);
}

a.add_fields:focus, a.edit-forecast:focus {
  text-decoration:none;
}

.question-answer-field{
	max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    line-height: 2;
}

.question-audience-filter{

	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:900000;
	background: #4DD990;
	display:none;
	padding-top: 100px;

	h2{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 48px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
		margin-bottom: 60px;
		margin-top: 0px;
		line-height: 1;
	}

	h3{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 20px;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
		font-style: italic;
	}
}

.question-form-panel{
	margin: 0 auto;
	padding:20px;
	max-width: 500px;
    width: 100%;
    text-align: center;
}

#audience-select-panel{
    display:none;
}

.question-description-text{
	font-size: 30px;
    text-shadow: 0px 2px 1px rgba(0,0,0,.7);
    color: #fff;
    font-weight: 500;

}

.question-number-input{
	font-size: 24px;
	color: #666;
	margin:0px 3px;
	text-align:center;
}

textarea.question-text{
	width: 100%;
    background: #4DD990;
    border: none;
    text-align: center;
    color:#fff;
	font-weight:400;
	font-size: 48px;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

textarea.question-text.small{

	font-size: 24px;
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

input.answer-field{
	padding: 10px 0px;
    text-indent: 15px;
	line-height:20px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	text-decoration:none;
	font-weight:500;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.15);
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	background-color:#eee;
	color:#394de3;
	text-shadow: 0px 1px #eee;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	background: #eee;
	background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#dcdcdc));
	background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -ms-linear-gradient(top,#fbfbfb,#dcdcdc);
	background: linear-gradient(top,#fbfbfb,#dcdcdc);
	border-color: #4d90fe;
	width: 100%;
    float: left;

    margin-bottom: 20px;
    font-size:30px;
}

input.answer-field:hover{
	text-decoration:none;

}

a.answer-field{
	padding: 15px 0px;
    text-indent: 15px;
	line-height:20px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	text-decoration:none;
	font-weight:500;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.15);
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	background-color:#eee;
	color:#394de3;
	text-shadow: 0px 1px #eee;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	background: #eee;
	background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#dcdcdc));
	background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -ms-linear-gradient(top,#fbfbfb,#dcdcdc);
	background: linear-gradient(top,#fbfbfb,#dcdcdc);
	border-color: #4d90fe;
	width: 100%;
    float: left;

    margin-bottom: 20px;
    font-size:30px;
}

a.answer-field:hover{
    cursor:pointer;
    text-decoration: none;
    border-color: #fff;
    color: #fff;
    text-shadow: 0px 1px #394de3;

    webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #394de3;
    background-image: -moz-linear-gradient(top, #394de3, #394de3);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#394de3), to(#394de3));
    background-image: -webkit-linear-gradient(top, #394de3, #394de3);
    background-image: -o-linear-gradient(top, #394de3, #394de3);
    background-image: -ms-linear-gradient(top, #394de3, #394de3);
    background: linear-gradient(top, #394de3, #394de3);

}

a.answer-responses-field{
	padding: 15px 0px;
    text-indent: 15px;
	line-height:20px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	text-decoration:none;
	font-weight:500;
	border-radius: 5px;
	text-align:center;
	position:relative;
	white-space:nowrap;
	background-color:#eee;
	color:#666;
	text-shadow: 0px 1px #eee;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	background: #eee;
	background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#dcdcdc));
	background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
	background-image: -ms-linear-gradient(top,#fbfbfb,#dcdcdc);
	background: linear-gradient(top,#fbfbfb,#dcdcdc);
	border-color: #4d90fe;
	width: 100%;
    float: left;

    margin-bottom: 20px;
    font-size:30px;
}

a.answer-responses-field:hover{
	text-decoration:none;
	cursor:pointer;

    webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;


}

span.answer-field-body{
	float:left;
	color: #222;
}

span.answer-field-percentage{
	float:right;
	margin-right:15px;
	color:#666;
}

.return-to-dashboard-container{
	width:100%;
	max-width:500px;
	text-align:center;
	padding:10px 0px;
	margin: 0 auto;
}


a.return-to-dashboard{
	padding:10px 0px;
	color: #444;
	font-size:30px;
	font-weight:400;
	text-shadow:0px 2px 2px #fff;
	width:100%;
	float: left;
	max-width:500px;
	margin-top: 40px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	border-radius:5px;

	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ccc));
	background-image: -webkit-linear-gradient(top, #ddd, #ccc);
	background-image: -moz-linear-gradient(top, #ddd, #ccc);
	background-image: -ms-linear-gradient(top, #ddd, #ccc);
	background-image: -o-linear-gradient(top, #ddd, #ccc);
	background-image: linear-gradient(top, #ddd, #ccc);

	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;


}

a.return-to-dashboard:hover{
	cursor:pointer;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff, #fff);
	background-image: -moz-linear-gradient(top, #fff, #fff);
	background-image: -ms-linear-gradient(top, #fff, #fff);
	background-image: -o-linear-gradient(top, #fff, #fff);
	background-image: linear-gradient(top, #fff, #fff);

	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;

}

.question-form-continue{
	padding: 10px 16px;
	line-height:20px;
	text-decoration:none;
	margin-top:15px;
	font-size: 24px;
	font-weight:500;
	color:#666;
	border-radius: 5px;
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	width:100%;
	float: left;
	color:white;
	text-shadow: 0px 1px #666;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;

	background-color: #394DE3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00D43C), to(#00C237));
	background-image: -webkit-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -moz-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -ms-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -o-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: linear-gradient(top, #394DE3, #1F2B7D);

	border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

a.question-form-continue:hover{
	cursor:pointer;
}

