// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container-offset{
	float:right;
	left:-50%;
	width:100%;
	height:100%;

}

.content-container-float{
	width:100%;
	height:100%;
	left:50%;
	margin: 0 auto;
	float:left;

}

.content-left{
	float:left;
	width:20%;
	min-height:100%;
	
}

.content-center{
	float:left;
	padding:0px 40px;
	width:50%;
	min-height:100%;
	
}

.content-right{
	float:left;
	width:20%;
	min-height:100%;
	
}

.content-column-header{
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    padding-bottom:10px;
    color: #6128A1;
    text-shadow: 0px 1px #eee;
    float: left;
    width: 100%;
    font-size: 20px;
}

ul.favorite-topics-list{
	padding:0px;
	list-style: none;
	float: left;
	margin:0px;
	width: 100%;
	
	li {
		font-size:16px;
		padding-bottom:10px;
	}

	li:hover {
		cursor:pointer;
		background-color: #fefefe;
	}
}

.question-summary-index-container{
	padding:3px 8px;
	width:100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    float: left;
    width: 100%;
	p{
		font-size:24px;
		font-weight: 600;
		text-align: justify;
		text-shadow: 0px 1px #ddd;
		color: #333;
		margin:0px;
		padding:20px 0px;
		line-height: 30px;
	}

	p:hover{
		cursor:pointer;
	}
}

ul.my-questions-list{
	padding:0px;
	list-style: none;
	float: left;
	width:100%;
	
	li {
		font-size:16px;
		padding-bottom:10px;
		list-style-type:none;
	}

	li:hover {
		cursor:pointer;
		background-color: #fefefe;
	}
	
}

.question-container-fixed{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9000;
	background: #ddd;
}

.question-panel{
	margin: 0 auto;
	padding:50px 0px;
	max-width: 900px;
	text-align:center;
	h2{
		color: #fff;
    	text-shadow: 0px 2px 5px #555;
    	font-size: 48px;
	}

}

.question-option-line{
	width:100%;
	margin-top:15px;
	line-height: 3;
	text-align: center;
}

.question-submit{
	padding:10px 15px;
	background-color: #eee;
	color: red;
	font-size:20px;
}


.question-binary-option{
	font-size:30px;
	font-weight: 400;
    padding: 10px 20px;
	
}

.question-binary-option.inactive{
	color: #888;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.question-binary-option.inactive:hover{
	color: #505DC7;
	border: 1px solid #505DC7;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.question-binary-option:hover {

	cursor: pointer;
}

.question-binary-option.active{
	color: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	text-shadow: 0px 1px #ccc;

	background: #505DC7;
	background-image: -moz-linear-gradient(top, #505DC7, #373F87);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#505DC7), to(#373F87));
	background-image: -webkit-linear-gradient(top, #505DC7, #373F87);
	background-image: -o-linear-gradient(top, #505DC7, #373F87);
	background-image: -ms-linear-gradient(top, #505DC7, #373F87);
	background: linear-gradient(top, #505DC7, #373F87);
	
	border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

.question-binary-option.left{
	border-radius: 5px 0px 0px 5px;
}

.question-binary-option.right{
	border-radius: 0px 5px 5px 0px;
}

.question-text-field{
	border:none;
	padding:5px;
	border-radius:3px;
	width:200px;
	font-size: 30px;
    text-align: center;
    box-shadow: 0px 2px 4px #aaa;
    color:#666;
}


.question-option-line-header{
	font-size:30px;
	color: #444;
	text-shadow:0px 1px 0px #bbb;
}

.hidden-input{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	opacity: 0;
}

.home-question-container{
	padding-bottom:30px;
	float:left;
	width:100%;	
}


.home-question-form{
	float:left;
	width:100%;	
}

textarea.question-text{
	width: 100%;
    padding: 5px;
    margin-bottom: 0px;
    height: 50px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    border: 1px solid #a0a0a0;
    border-color: #a0a0a0 #a0a0a0 #cfcfcf;
    border-radius: 4px 4px 1px 1px;
    box-shadow: 0 1px 0 #f6f6f6, inset 1px 1px 1px #dfdfdf;
    background-color: #fff;
    overflow: hidden;
    float: left;
    resize: none;
}

.question-ask-submit-container{
	width:100%;
	float:left;
}

input[type="submit"].question-ask-submit{
	padding: 10px 16px;
	line-height:20px;
	text-decoration:none;
	margin-top:15px;
	font-size: 18px;
	font-weight:500;
	color:#666;
	border-radius: 5px;
	text-align:center;
	position:relative;
	border-color: #ccc;
	white-space:nowrap;
	width:100px;
	color:white;
	text-shadow: 0px 1px #666;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	float:right;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;

	background-color: #394DE3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00D43C), to(#00C237));
	background-image: -webkit-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -moz-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -ms-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: -o-linear-gradient(top, #394DE3, #1F2B7D);
	background-image: linear-gradient(top, #394DE3, #1F2B7D);

	border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

input[type="submit"].question-ask-submit:hover{
	cursor:pointer;
}

a.add_fields, a.edit-forecast{
  float:left;
  margin-top:15px;
  padding: 10px 16px;
  line-height:20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-decoration:none;
  font-size: 14px;
  font-weight:500;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  text-align:center;
  position:relative;
  border-color: #ccc;
  white-space:nowrap;
  background-color:#eee;
  color:#394de3;
  text-shadow: 0px 1px #eee;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  background: #eee;
  background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#dcdcdc));
  background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
  background-image: -ms-linear-gradient(top,#fbfbfb,#dcdcdc);
  background: linear-gradient(top,#fbfbfb,#dcdcdc);
  border-color: #4d90fe;
}

a.add_fields:hover, a.edit-forecast:hover{
  
  color:#4d90fe;
  cursor: pointer;
  text-shadow: 0px 1px #fff;
  text-decoration: none;
  webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(top, #fff, #fff);
}

a.add_fields:focus, a.edit-forecast:focus {
  text-decoration:none;
}

.question-answer-field{
	width:100%;
	float:left;
	margin-top:10px;
}

.question-audience-filter{

	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:900000;
	background: #4DD990;
	display:none;
	padding-top: 100px;

	h2{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 48px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
		font-style: italic;
		margin-bottom: 60px;
	}

	h3{
		color: white;
		width:100%;
		text-align:center;
		font-weight:400;
		font-size: 32px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
	}
}

.question-audience-filter-outline{
	margin: 0 auto;
	border: 2px solid #fff;
	padding:20px;
	max-width: 500px;
    width: 100%;
}
